.separator{
	margin-top:3%;
	height:3px;
	width:10%;
	border:none;
	box-shadow:none;
    background-color:#fed136 ;
}
.liste{
	display:flex;
	flex-direction: column;
	

}
h3{
	text-align: center;
}
.liste li{
	background-color:whitesmoke;
	justify-content: center;
	font-size:large;
	font-weight: bold;
	align-items: center;
	
}
.liste button{
	margin:10px;
	background-color: rgb(219, 74, 74);
}

.liste button:hover{
	margin:10px;
	background-color: rgb(240, 90, 90);
}